In [1]:
import sqlite3
import pandas as pd
import csv

In [2]:
con = sqlite3.connect('python_project.db')
cursor = con.cursor()

In [3]:
jobs =pd.read_csv("Unemployment_Canada_1976_present.csv")
jobs.head()

,REF_DATE,GEO,Employment,Population,Unemployment,Employment rate,Unemployment rate
0,1976-01,Alberta,231800,362300,20500,64.0,8.1
1,1976-01,Alberta,802400,1154800,35000,69.5,4.2
2,1976-01,Alberta,819500,1276700,37000,64.2,4.3
3,1976-01,Alberta,491400,661700,14400,74.3,2.8
4,1976-01,Alberta,587700,914400,16500,64.3,2.7

In [ ]:
jobs.to_sql("Canada_employment", con, index=False)

In [4]:
results = cursor.execute("select * from Canada_employment").fetchall()
results

[('1976-01', 'Alberta', 231800, 362300, 20500, 64.0, 8.1),
 ('1976-01', 'Alberta', 802400, 1154800, 35000, 69.5, 4.2),
 ('1976-01', 'Alberta', 819500, 1276700, 37000, 64.2, 4.3),
 ('1976-01', 'Alberta', 491400, 661700, 14400, 74.3, 2.8),
 ('1976-01', 'Alberta', 587700, 914400, 16500, 64.3, 2.7),
 ('1976-01', 'Alberta', 96300, 252800, 2100, 38.1, 2.1),
 ('1976-01', 'British Columbia', 257500, 467000, 42700, 55.1, 14.2),
 ('1976-01', 'British Columbia', 1015500, 1628800, 93000, 62.3, 8.4),
 ('1976-01', 'British Columbia', 1029700, 1852400, 95800, 55.6, 8.5),
 ('1976-01', 'British Columbia', 652300, 940300, 47400, 69.4, 6.8),
 ('1976-01', 'British Columbia', 772200, 1385300, 53100, 55.7, 6.4),
 ('1976-01', 'British Columbia', 119800, 445100, 5600, 26.9, 4.5),
 ('1976-01', 'Canada', 999200, 2330000, 179700, 42.9, 15.2),
 ('1976-01', 'Canada', 2499600, 4509900, 349800, 55.4, 12.3),
 ('1976-01', 'Canada', 9465600, 15015900, 719400, 63.0, 7.1),
 ('1976-01', 'Canada', 9636700, 16852400, 733000, 57.2, 7.1),
 ('1976-01', 'Canada', 1500400, 2179800, 170100, 68.8, 10.2),
 ('1976-01', 'Canada', 5999300, 8619100, 333500, 69.6, 5.3),
 ('1976-01', 'Canada', 7137000, 12342500, 383200, 57.8, 5.1),
 ('1976-01', 'Canada', 955600, 1886900, 44100, 50.6, 4.4),
 ('1976-01', 'Canada', 1137700, 3723400, 49800, 30.6, 4.2),
 ('1976-01', 'Manitoba', 116300, 190900, 14100, 60.9, 10.8),
 ('1976-01', 'Manitoba', 418600, 635700, 23900, 65.8, 5.4),
 ('1976-01', 'Manitoba', 427400, 732900, 25300, 58.3, 5.6),
 ('1976-01', 'Manitoba', 250800, 352400, 8900, 71.2, 3.4),
 ('1976-01', 'Manitoba', 311200, 542000, 11200, 57.4, 3.5),
 ('1976-01', 'Manitoba', 60400, 189500, 2300, 31.9, 3.7),
 ('1976-01', 'New Brunswick', 64800, 138700, 12600, 46.7, 16.3),
 ('1976-01', 'New Brunswick', 227100, 419800, 28700, 54.1, 11.2)]

In [5]:
with open("Unemployment_Canada_1976_present.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0] == 'REF_DATE':
            continue
        cursor.execute("INSERT INTO Canada_employment VALUES (?, ?, ?, ?, ?, ?, ?)",#, ?, ?, ?, ?, ?, ?)", 
                       (row[0], row[1], row[2], row[3], row[4], row[5], row[6]))#, row[7], row[8], row[9], row[10], row[11], row[12]))

In [6]:
jobs =pd.read_csv("Unemployment_Canada_1976_present.csv")
jobs.head()

,REF_DATE,GEO,Employment,Population,Unemployment,Employment rate,Unemployment rate
0,1976-01,Alberta,231800,362300,20500,64.0,8.1
1,1976-01,Alberta,802400,1154800,35000,69.5,4.2
2,1976-01,Alberta,819500,1276700,37000,64.2,4.3
3,1976-01,Alberta,491400,661700,14400,74.3,2.8
4,1976-01,Alberta,587700,914400,16500,64.3,2.7

In [7]:
import pandas as pd

# Load your dataset (replace 'your_dataset.csv' with your actual dataset)
data = pd.read_csv('Unemployment_Canada_1976_present.csv')

# Get a random sample of 10 rows from your dataset
sample_data = data.sample(n=10)  # Change 'n' to the number of rows you want in the sample

# Display the sample data
print(sample_data)

   REF_DATE               GEO  Employment  Population  Unemployment  \
5   1976-01           Alberta       96300      252800          2100
18  1976-01            Canada     7137000    12342500        383200
9   1976-01  British Columbia      652300      940300         47400
8   1976-01  British Columbia     1029700     1852400         95800
11  1976-01  British Columbia      119800      445100          5600
3   1976-01           Alberta      491400      661700         14400
21  1976-01          Manitoba      116300      190900         14100
12  1976-01            Canada      999200     2330000        179700
1   1976-01           Alberta      802400     1154800         35000
10  1976-01  British Columbia      772200     1385300         53100

    Employment rate  Unemployment rate
5              38.1                2.1
18             57.8                5.1
9              69.4                6.8
8              55.6                8.5
11             26.9                4.5
3              74.3                2.8
21             60.9               10.8
12             42.9               15.2
1              69.5                4.2
10             55.7                6.4

In [10]:
from flask import Flask, render_template
import sqlite3

app = Flask(__name__)

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/about')
def about():
    # Provide data source and variable definitions
    return render_template('about.html')

@app.route('/data')
def display_data():
    # Fetch a sample of data from the SQLite database
    con = sqlite3.connect('python_project.db')
    cursor = con.cursor()
    cursor.execute("SELECT * FROM Canada_employment ORDER BY RANDOM() LIMIT 10")  # Fetch 10 random rows
    sample_data = cursor.fetchall()
    con.close()
    return render_template('data.html', data=sample_data)

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1